.homePage {
  display: flex;
  height: 100%;
}

/* TEXTCONTAINER */
.textContainer {
  flex: 3;
}
.wrapper {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 32px; */
  height: 100%;
}
.tittle {
  font-size: 48px;
  letter-spacing: -0.5px;
  padding-top: 48px;
  line-height: 1.05;
  font-weight: 600;
}
.description {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 64px;
}

.searchBox {
  margin-bottom: 24px;
}
.box {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.imgContainer {
  flex: 2;
  position: relative;
  background-color: #fcf5f3;
}
.imgContainer img {
  position: absolute;
  width: 115%;
  right: 0;
}
