.details {
  flex: 3;
}
.details .wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}
.desc h1 {
  font-weight: 500;
}
.price {
  display: flex;
  gap: 2px;
  width: max-content;
  font-size: 18px;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(254, 205, 81, 0.438);
}
.address {
  display: flex;
  align-items: center;
  gap: 4px;
}
.address img {
  width: 12px;
  height: 12px;
}
.address span {
  font-size: 14px;
  font-weight: 300;
}

.user {
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 205, 81, 0.209);
  align-self: stretch;
  padding: 0 50px;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
  border-radius: 16px;
}
.userImg {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.bottom {
  margin-top: 50px;
  color: #555;
  line-height: 20px;
  margin-bottom: 64px;
}
