.imgContainer {
  display: flex;
  width: 100%;
  height: 350px;
  gap: 24px;
  margin-bottom: 32px;
}

.fullSlider {
  position: absolute;
  width: 100vw;
  height: 120vh;
  background-color: black;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow img {
  width: 100%;
  height: 100%;
}
.arrow:last-child img {
  transform: rotate(180deg);
}
.imgSlider {
  flex: 10;
}
.imgSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.close_btn {
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: 600;
  right: 3%;
  top: 5%;
  cursor: pointer;
}
/* Container Wise */
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.bigImg {
  flex: 3;
  flex-shrink: 0;
}

.smallImg {
  flex: 1;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.smallImg img {
  height: 100px;
}
